@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Lexend+Deca:wght@600&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Lexend+Deca:wght@600&family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body {
    margin: 0px;
    overflow-x: hidden;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    text-shadow: 0px 0px 10px rgb(70, 101, 138);
    font-family:"Black Han Sans", sans-serif;
    background-image: linear-gradient(rgba(70, 101, 138, 0.5), rgba(0, 0, 0, 0));
    position: sticky;
    top: 0px;
    height: 50px;
    margin-bottom: -50px;
    z-index: 100;
}
nav div:nth-of-type(2){
    display: flex;
    gap: 10px;
}
header{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)),url('images/header.jpg');
    background-size: cover;
    background-size: cover;
    background-position: center 20%;
    background-repeat: no-repeat;
    height: 400px;
}
header > section:first-of-type {
    font-family:"Black Han Sans", sans-serif;
    display: flex;
    justify-content: center;
    font-size: 35px;
    flex-direction: column;
    text-align: left;
    align-items: center;
  }
section span:last-of-type{
    font-family: "Noto Sans JP", sans-serif;
    color: black;
    font-size: 20px;
    letter-spacing: 2px;
}
#spanHi{
    font-family:"Black Han Sans", sans-serif;
    color: rgba(65,69,78,255);
}
section button{
    background-color: rgb(112,92,164);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 15px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;

}
main img{
   height: 500px;
}
main p:nth-child(1){
    font-family: "Noto Sans JP", sans-serif;
}
main p:nth-child(2){
    font-family:"Black Han Sans", sans-serif;
    color: rgb(112,92,164);
    font-size: 25px;
}
main p:nth-child(3){
    font-family: "Noto Sans JP", sans-serif;
}
main>div>button{
    color: rgb(112,92,164);
    background-color: white;
    border: 1px solid rgb(112,92,164);
    border-radius: 20px;
    padding: 10px;
}
.Service{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Service > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 90px;
}
.Service > div > div {
    border: 0.5px solid grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 150px;
    color: rgb(112,92,164);
    padding: 10px;
    flex-shrink: 1;
    overflow-y: hidden;
}
.Service > div > div::after {
    content: "Labore velit culpa adipisci excepturi consequuntur itaque in nam molestias dolorem iste quod";
    text-align: center;
    opacity: 0;
    transform: translateY(30px);
    visibility: hidden;
    transition: 0.5s ease;
    color: black;
    margin-bottom: -100px;
}
.Service > div > div:hover::after {
    opacity: 1;
    visibility: visible;
    margin-bottom: 0px;
    transform: translateY(0);
}
.Service > div > div img, .Service > div > div p {
    transition: 0.5s ease;
    flex-shrink: 1;
}

.Service > div > div:hover img, .Service > div > div:hover p {
    height: 40px;
    font-size: 14px;
}

.Service img{
    height: 60px;
}
#p1service {
    font-family: "Noto Sans JP", sans-serif;
}
.Service p:nth-of-type(2){
    font-family:"Black Han Sans", sans-serif;
    color: rgb(112,92,164);
    font-size: 20px;
}
section.Service > div > div > p {
    font-family: "Black Han Sans", sans-serif;
    color: rgb(112,92,164);
}
.Portfolio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Portfolio > div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}
.Portfolio > div > div {
    width: 300px;
    height: 300px;
}
.img1Portfolio {
    background-image: url(./images/folio-1.jpg);
    background-size: cover;
}
.img2Portfolio {
    background-image: url(./images/folio-2.jpg);
    background-size: cover;
}
.img3Portfolio {
    background-image: url(./images/folio-3.jpg);
    background-size: cover;
}
.img1Portfolio div, .img2Portfolio div, .img3Portfolio div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(199, 214, 240, 0.8);
    clip-path: inset(100% round 100% 100% 100%);
    transition: 0.5s ease;
}
.Portfolio > div > div:hover > div {
    clip-path: inset(0% 0% 0% 0%);

}
.Portfolio > div > div > div > p:first-of-type {
    font-family: "Black Han Sans", sans-serif;
    margin: 0;
    color: rgb(112,92,164);
}
.Portfolio > div > div > div > p:last-of-type {
    font-family: "Noto Sans JP", sans-serif;
    margin: 0;
    margin-top: 10px;
}

#p1Portfolio{
    font-family: "Noto Sans JP", sans-serif;
}
#p2Portfolio{
    font-family: "Black Han Sans", sans-serif;
    color: rgb(112,92,164);
    font-size: 25px;
}
/* Pricing */
.Pricing button{
    border-radius: 2px;
    padding: 12px;
}
.Pricing{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.Pricing div{
    display: flex;
}
.Pricing img{
    width: 100px;
}
#Free, #Basic, #Premium {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center;
    border: 1px solid grey;
    padding: 30px;
    width: 250px;
}
#fusé{
    width: 70px;
    padding:15px;
}
#X{
    color: red;
}
#p1Pricing{
    font-family: "Noto Sans JP", sans-serif;
}
#p2Pricing{
    font-family: "Black Han Sans", sans-serif;
    color: rgb(112,92,164);
    font-size: 25px;
}
.Pricing h4{
    font-family: "Black Han Sans", sans-serif;
    color: rgb(112,92,164);
    font-size: 25px;
}
.Pricing h3{
    font-family: "Noto Sans JP", sans-serif;
    font-size: 30px;
}
/* Hire */
.Hire{
    margin-top: 50px;
    background-color:rgb(112,92,164);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 120px;
}
.Hire h5{
    font-family: "Black Han Sans", sans-serif;
    color: white;
    font-family: 10px;
    margin-bottom: 0px;
}
.Hire p{
    font-family: "Noto Sans JP", sans-serif;
    color: white;
    margin-top: 0px;
}
.Hire button{
    color: black;
    font-size: 15px;
    height: 50px;
    border-radius: 5px;

    font-family: "Black Han Sans", sans-serif;
    background-color: white;
    margin: 20px;
}
/* Testimonial */
.Testimonial{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    background-color: white;
}
.Testimonial div{
    display: flex;
    gap: 50px;
}
.Testimonial div div{
    border: 1px solid rgba(128, 128, 128, 0.311);
    display: flex;
    flex-direction: column;
}
.Testimonial div div p{
    margin-bottom: 0px;
    box-sizing: border-box; 
    padding: 20px 70px;
}
.Testimonial img{
    height: 90px;
    border-radius: 50%;
    position: absolute;
    border: 2px white solid;
    transform: translate(-50%, 40%);;
      
    /* transform: translateZ(50%); */
}
.Testimonial p{
    font-family: "Noto Sans JP", sans-serif;
}
.Testimonial h3{
    font-family: "Black Han Sans", sans-serif;
    color: rgb(112,92,164);
    font-size: 25px;
}
.Testimonial div div span{
    /* margin: 0px; */
    font-family: "Black Han Sans", sans-serif;
    color: rgb(112,92,164);
    font-size: 15px;
    letter-spacing: 0px;
    /* text-align: center; */
}
.Blog p{
    font-family: "Noto Sans JP", sans-serif;
}
.Blog h3{
    font-family: "Black Han Sans", sans-serif;
    color: rgb(112,92,164);
    font-size: 20px;
}
.Blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000px;
}
.Blog img{
    height: 300px;
    width: 300px;
    object-fit: cover;
}

#BlogDiv1{
    align-items: center;
    display: flex;
    height: 300px;
    border: 1px rgb(199, 199, 199) solid;
    width: 1100px;
    gap: 20px;
}
/* #BlogDiv1 p{
 padding-top: 10px;
 padding-bottom: 10px;
} */
#BlogDiv2{
    align-items: center;
    display: flex;
    height: 300px;
    border: 1px rgb(199, 199, 199) solid;
    width: 1100px;
    gap: 20px;
}
#BlogDiv1 div{
    display: flex;
    flex-direction: column;
    text-align:justify;
    
}
#BlogDiv2 div{
    display: flex;
    flex-direction: column;
    text-align:justify;
}
.Blog p{
    font-size: 15px;
    margin: 0px;
}
#SpanBlog{
    font-family: "Noto Sans JP", sans-serif;
    font-size: 15px;
    font-weight: bold;
}
#BlogDivs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#titreBlog{
    font-family: "Black Han Sans", sans-serif;
    color: rgb(112,92,164);
}
#ReadSpan{
    font-family: "Noto Sans JP", sans-serif;
    color: rgb(112,92,164);
    font-size: 15px;
}
#spangrey{
    font-family: "Noto Sans JP", sans-serif;
    color: grey;
}
#BlogDivs p{
    font-family: "Noto Sans JP", sans-serif;
}
#coeur{
    color: red;
}
.Contact{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 500px;
}
form{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
}
.Contact p{
    font-family: "Noto Sans JP", sans-serif;
}
.Contact h3{
    font-family: "Black Han Sans", sans-serif;
    color: rgb(112,92,164);
}
.Contact h4{
    font-family: "Black Han Sans", sans-serif;
    color: rgb(112,92,164);
    text-align: start;
    margin-left: 30px;
    font-size: 20px;
}
.Contact button{
    color: rgb(112,92,164);
    background-color: white;
    border: 1px solid rgb(112,92,164);
    border-radius: 8px;
    padding: 10px;
    width: 150px;
    align-items: center;
    font-size: 19px;
}
#WriteSmtg{
    height: 160px;
    width: 700px;
}
.Copyright{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}
hr{
    background-color: rgb(163, 163, 163);
    width: 750px;
}
#icon i{
    border: 2px solid grey;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
#icon{
    display: flex;
    color: grey;
    gap: 5px;
}
.Copyright p{
    color: grey;
    font-family: "Noto Sans JP", sans-serif;
}
/* Responsive */
@media (max-width:600px){
 nav{
    font-size: 10px;
 }
 main>img{
    height: 300px;
 }
 main{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
    margin: 30px;
 }
 .Service > div {
    display: flex;
    text-align: center;
    flex-direction: column;
 }
 .Portfolio > div{
    display: flex;
    flex-direction: column;
 }
 .Pricing > div{
    display: flex;
    flex-direction: column;
 }
 .Hire > h5{
    font-size: 12px;
 }
 .Hire{
    font-size: 15px;
 }
 .Testimonial div{
    display: flex;
    flex-direction: column;
    margin:20px;
 }
 .Testimonial{
    height: 700px;
 }
 .Testimonial p{
    margin-top: 50px;
 }
 .Testimonial h3{
    margin: 0px;
 }
 #BlogDiv2{
    width: 350px;
    height: 700px;
    display: flex;
    flex-direction: column;
}
#BlogDiv1{
    width: 350px;
    height: 700px;
    display: flex;
    flex-direction: column;
}
.Blog{
    height: 1600px;
}
#BlogDiv2 p{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
}
#BlogDiv1 p{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
}
#WriteSmtg{
    height: 160px;
    width: 300px;
}
.Copyright p{
    font-size: 11px;
}
hr{
    width: 250px;
}
.Testimonial{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    /* background-color: blue; */
}
.Hire h5{
    font-size: 11px;
}
.Hire p{
    font-size: 12px;
}
.Hire button{
    font-size: 12px;
}
}
